<?xml version="1.0"?>
<configuration>

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Blackbaud.CustomFx.BBNC.GiftAidManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

    <applicationSettings>
        <Blackbaud.CustomFx.BBNC.GiftAidManager.My.MySettings>
            <setting name="Blackbaud_CustomFx_BBNC_GiftAidManager_com_scanstore_ScanStore"
                serializeAs="String">
                <value>https://scanstoretest.blackbaudhosting.com/scanstoreonline/scanstore.asmx</value>
            </setting>
        </Blackbaud.CustomFx.BBNC.GiftAidManager.My.MySettings>
    </applicationSettings>
</configuration>
